
:root{
    color: #3d3d3d;
    font-size: 64px;
}

body{
    background-color: #D2DEF2;
    font-family: 'Montserrat', sans-serif;
    
}

img{
    width: 300px;
    height: auto;
    border: 10px solid #3A7EE7;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}

h1{
    color: #3A7EE7;
    font-size: 4rem;
    font-weight: 600;
}